/* scrollbar style - typically semi-transparent */
div.finbar-vertical, div.finbar-horizontal {
    background: #fff;
}
div.finbar-vertical._translucent, div.finbar-horizontal._translucent {
    opacity: .75;
}
/* thumb style */
div.finbar-vertical > .thumb, div.finbar-horizontal > .thumb {
    background-color: #dfe3e8;
    border: 1px solid white; /* white border can still be grabbed */
    border-radius: 3px;
    box-shadow: inset 0 0 0 0.5px #585858; /* Use inset box shadow as fake border. */
}
/* thumb hover style */
div.finbar-vertical > .thumb.hover, div.finbar-horizontal > .thumb.hover {
    /* border-width: 0px; */
    background-color: #d0d6dc;
}

/* thumb active (click) style */
div.finbar-vertical > .thumb.hover:active, div.finbar-horizontal > .thumb.hover:active {
    background-color: #c3c9cf;
}

/* vertical-specific styles */
div.finbar-vertical {
    top: 0; bottom: 0; /* stretched from top to bottom edges of container */
    right: 0; /* stuck to right edge of container */
    width: 14px;
}
div.finbar-vertical > .thumb {
    top: 0; /* optional: initial position of thumb within vertical scrollbar */
    right: 0;
    width: 14px;
}

/* horizontal-specific styles */
div.finbar-horizontal {
    left: 0; right: 0; /* stretched from left to right edges of container */
    bottom: 0; /* stuck to bottom edge of container */
    height: 14px;
}
div.finbar-horizontal > .thumb {
    left: 0; /* optional: initial position of thumb within horizontal scrollbar */
    bottom: 0;
    height: 14px;
}
